/* General Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  height: 100vh;
  animation: fade-in 500ms;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0 3.2rem;
}

/* Animations */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Scoreboard Styles */

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;
}
h2 {
  font-size: 7rem;
}

.score {
  font-size: 4rem;
}

/* Selection Styles */

.selections {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selection {
  max-width: 100%;
}

/* Buttons Styles */

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3.2rem;
}

.button {
  font-size: 7rem;
  transition: all 0.2s;
}

.button:hover {
  transform: translateY(-1rem);
}

.button:active {
  transform: translateY(-0.2rem);
}

/* Reset Style */

.button--reset {
  margin: 0 auto;
  display: block;
  font-size: 2rem;
  transition: all 0.2s;
}

.button--reset:hover {
  transform: translateY(0.5rem);
}

.button--reset:active {
  transform: translateY(0.1rem);
}
